body {
    background-color: seashell;
}

fieldset {
    background-color: rgb(253, 234, 220);
}

.AccountInfo {
    float: right;
    background-color: gray;
}

.PersInfo {
    float:right;
    background-color: dimgray;
}

.Avail {
    float: right;
}

.Statement {
    float: right;
}